#main {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color:whitesmoke;
    margin: auto;
    width: 60%;
    height: 820px;
    margin-top: 0px;
}

h4, h5 {
    text-align: center;
    margin-block-end: 0px;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
}

h5 {
    font-family: 'Chela One', cursive;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.container {
    border: 2px solid transparent;
    background-color: white;
    border-radius: 10px;
    width: 30%;
    height:600px;
    display:inline-block;
    margin: 20px 0px 0px 10px;
    position: relative;
}

#container1:hover {
    border:3px solid aquamarine;
}

#container2:hover {
    border:3px solid blue;
}

#container3:hover {
    border:3px solid goldenrod;
}


img, p, hr {
    position: absolute;
    margin: auto;
    width: 70%;
    top: 60px;
    left: 35px;
}

p, span {
    top: 0px;
    display: inline-block;
    margin-top: 0%;
    color:darkgoldenrod;
}

span {
    font-size: 60px;
    
}

hr {
    top: 250px;
    height: 3px;
   border-radius: 2px;
}

#basic {
    background-image: linear-gradient(to right, rgb(188, 229, 243), rgb(75, 191, 230));
}

#standard {
    background-image: linear-gradient(to right, rgb(129, 129, 224), rgb(4, 0, 255));
}

#premium {
    background-image: linear-gradient(to right, rgb(219, 190, 116), rgb(253, 181, 0));
}

ul {
    position: absolute;
    top:250px;
    left:20px;
    padding-inline-start: 0px;
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    text-align: left;
}

li {
    padding-bottom: 20px;
}

i {
    font-family:serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
}

button {
    position:absolute;
    top: 550px;
    left: 25%;
    width:120px;
    height: 35px;
    border-radius: 5px;
    background-color:rgb(240, 217, 171);
    font-weight: bold;
}

button:hover {
    background-color:darkgoldenrod;
}